PDF_EDITOR_DATA_DIR=./data
PDF_EDITOR_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
PDF_EDITOR_MAX_UPLOAD_MB=100

FONT_FILE=/usr/share/fonts/opentype/noto/NotoSansSC-VF.ttf
FONT_ZH_FILE=/usr/share/fonts/opentype/noto/NotoSansSC-VF.ttf
FONT_ZH_CN_FILE=/usr/share/fonts/opentype/noto/NotoSansSC-VF.ttf
FONT_ZH_TW_FILE=/usr/share/fonts/opentype/noto/NotoSansTC-VF.ttf
FONT_LATIN_FILE=/usr/share/fonts/opentype/noto/NotoSans-VF.ttf
FONT_JA_FILE=/usr/share/fonts/opentype/noto/NotoSansJP-VF.ttf
FONT_KO_FILE=/usr/share/fonts/opentype/noto/NotoSansKR-VF.ttf
FONT_ARABIC_FILE=/usr/share/fonts/opentype/noto/NotoSansArabic-VF.ttf
FONT_CYRILLIC_FILE=/usr/share/fonts/opentype/noto/NotoSans-VF.ttf
FONT_THAI_FILE=/usr/share/fonts/opentype/noto/NotoSansThai-VF.ttf
FONT_VIETNAMESE_FILE=/usr/share/fonts/opentype/noto/NotoSans-VF.ttf
